@import 'node_modules/font-awesome/scss/font-awesome';
@import './theme/_variables';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import './theme/_theme.scss';
@import './sidebar.scss';

//Need to fix iOs modal bug
@media (max-width: 480px) {
    body.modal-open {
        overflow: hidden;
        position: fixed;
    }
}

//End iOs modal bug
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 102px;
    // background-color: #f5f5f5;
}
// End Sticky Footer
